.popout {
  overflow-y: scroll;
  padding: 0 16px;
  border-radius: 12px;
}

.popout::-webkit-scrollbar {
  display: none;
}

.dark-mode {
  background-color: rgba(24, 24, 24, 0.7);
}

.light-mode {
  background-color: rgba(242, 242, 242, 255);
}