.dark-mode {
  background-color: rgba(24, 24, 24, 0.7);
}

.light-mode {
  background-color: rgba(242, 242, 242, 255);
}

.stroke-light {
  stroke: #fff;
}

.stroke-dark {
  stroke: #0f0f0f;
}


.extension-control {
  position: relative;
}

.popout {
  box-sizing: border-box;
  overflow-y: scroll;
  width: 100%;
  padding: 0 16px;
  margin-bottom: 24px;
  border-radius: 12px;
}

.popout.theatre-mode {
  position: absolute;
  top: 10%;
  right: 10%;

  max-height: 100px !important;
  overflow-y: hidden;

  /* transform: translateY(-50%); */
  opacity: 0.8;
  z-index: 20;
  transition: opacity 0.2s, max-height 0.2s;
}

.popout.theatre-mode:hover {
  opacity: 1;
  overflow-y: auto;
  max-height: 720px !important;
}

.popout::-webkit-scrollbar {
  /* display: none; */
  width: 8px;
}

.popout::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}


.comments-header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.popout>.comments-header {
  position: sticky;
  z-index: 2;
  top: 16px;
}

.comments-header-btn {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s;
}

.comments-header-btn:hover {
  opacity: 1;
}

.comments-icon {
  height: 28px;
  transform: rotate(-45deg);
}